body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
}

header {
  width: 100%;
  margin-bottom: 2%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
.container-header {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding-left: 5%;
}
.container-header > h1 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
}
.container-spinner {
  text-align: center;
  padding: 10% 0;
}
.container-header > input {
  background-color: #eaeaea;
  border-radius: 20px;
  width: 40%;
  border: none;
  padding-left: 3%;
}

.table-header,
.line {
  width: 90vw;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 5%;
  justify-content: space-around;
  font-size: 14px;
  border: solid 1px #eaeaea;
  border-left: none;
  border-right: none;
}
.table-header > span {
  align-items: baseline;
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  color: rgba(52, 58, 64, 1);
  height: 5vh;
}
.line {
  align-items: center;
  font-family: "Poppins";
  font-weight: 400;
  color: rgba(108, 117, 125, 1);
  height: 7vh;
}
.line > img {
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
}
.close-icon {
  position: relative;
  top: 10vh;
  left: 50%;
  height: 30px;
  cursor: pointer;
}
.close-icon :hover {
  opacity: 0.5;
}

.card-info {
  position: absolute;
  bottom: 10vh;
  left: 25%;
  width: 50%;
  color: white;
  background-color: #013582;
  font-family: "Poppins";
  border-radius: 12px;
  padding: 0px 2%;
}
.photo-and-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 10vh;
  border-bottom: solid rgba(108, 117, 125, 1);
  font-family: "Roboto";
}
.photo-and-name > img {
  height: 20vh;
  width: 25%;
  border-radius: 50%;
  border: solid 5px #013582;
}
.card-list-info {
  margin-bottom: 5vh;
}
.card-list-info > p {
  font-family: "Roboto";
}
.card-list-info > p > span {
  font-family: "Poppins";
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  color: rgba(108, 117, 125, 1);
}
footer>p{
  font-size: 18px;
}

@font-face {
  font-family: "Roboto";
  src: url("../public//fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../public//fonts/Poppins-Regular.ttf");
}
